body, html
{
    padding: 0;
    margin:0;
    scroll-behavior: smooth;
    
    
}


$green: rgb(75, 246, 113);

.animate
{
    transition: all .1s ease-in-out;
    scroll-behavior: smooth;
    

}

.smooth-opacity-zero
{
    transition: all .3s ease-in-out;
    opacity: 0;
}

.smooth-opacity-one
{
    transition: all .3s ease-in-out;
    opacity: 1;
}

#go-up 
{
    position: fixed;
    right: 2%;
    bottom: 30px;
    padding: 10px;
    cursor: pointer;
    outline: none;
    background-color: #fff;
    border: 2px solid $green;
    font-size: 1.1em;
    transition: all .3s ease-in-out;
  
    border-radius: 50%;
    width: 65px;
    height: 65px;

    &:hover 
    {
        background-color: $green;


        a 
        {
            color: #fff;
            pointer-events: all;
        }

    }

    a 
    {
        font-weight: 500;
        color: black;

    }

 

   
}

.hcenter 
{
    text-align: center;
    padding: 20px;
}

a 
{
    cursor: pointer;
    text-decoration: none;
    color: black;
    

    &:hover 
    {
        color:$green;
    }
   
}


.flex-row 
{
    display:flex;
    flex-direction: row;
   
    

}

.flex-column
{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
  
}

.none
{
    display: none;
}


#top-nav 
{
    
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    background-color: #fff;

 

    #nav-wrapper
    {
        
        width: 100%;
        justify-content: space-between;
        align-items: center;
        padding-right: 10%;
        flex-wrap: wrap;
      


        img 
{
    
    width: 350px;
    
    height: 150px;
}

        
        
        

        #top-nav-main-ul
        {

            width: 70%;
            z-index: 1;
            border-bottom: 1px solid black;
            padding-bottom: 5px;
            margin-top: 3%;
            
            
            


           
           

            li 
            {

             
              text-align: center;
              list-style-type: none;
              cursor: pointer;
              letter-spacing: 1px;
              margin-right: 5px;
              padding-bottom: 5px;
             
              
             

              a 
              {
                transition: ease-in-out .2s;

                &:hover
                {
                    color: green;
                    
                    
                }
              }
              

              
              &:hover .none
              {
                  display: block;
                  position: absolute;
              }
             
            
              div
              {
                  padding-top: 150px;
                  width: auto;
                  min-width: 250px;
              }

              #ocena-stanu-odzywiania-div
              {
                  margin-left: 15px;
              }


              ul 
              {
                  padding: 5px;
                  position: absolute;
                  top: 15%;
                  margin-left: 5px;
                  margin-right: 5px;

                
                 

                  li 
                  {
                      
                      
                      text-align: left;
                      padding: 10px;
                      padding-left: 0;
                      padding-right: 0;
                      letter-spacing: 1px;

                     
                      

                  }
              }

            
             }

              
               
            }


         

        
    }

}

#main-wrapper 
{ margin-top: 20%;
   


#welcome
{
    
    width: 100%;
    height: 80vh;
   

    

    h1 
    {
        text-align: left;
        margin-left: 10%;
    }
}

.overall
{
    flex-wrap: wrap;
    width: 90%;
    margin: 0 auto;

    h1 
    {
        width: 100%;
        text-align: center;
        font-size: 2rem;
        margin-bottom: 50px;
        padding: 20px;
        border-bottom:1px solid black;
        
    }

    h2 
    {
        padding: 20px;
    }

    h3 
    {
        line-height: 1.5;
        padding: 20px;
    }

    div
    {
        margin:0 auto;
        width: 100%;
        min-height: 100vh;
        height: auto;
        padding:20px;
        //background-color: rgba(75, 246, 113, 0.8);
        box-shadow: 5px 5px 5px 5px rgba(12,54,78,0.5);
        margin-bottom: 50px;

       
        
    }

 

}

}


#personal-avtivity-wrapper
{

    width: 100% !important;
    text-align: center;

#personal-activity-table
{
    width: 100%;
    border: 3px solid $green;
    border-collapse: collapse;
   

    button
    {
        width: 100%;
        height: 100%;
        min-height: 40px;
        background-color: transparent;
        outline: none;
        border: none;
        cursor: pointer;
        font-size: 1.5rem;
        transition: all .1s ease;

        &:hover 
        {
            color: $green;
        }
    }

    caption 
    {
        font-size: 2rem;
        margin-bottom: 4%;
    }

    td, tr, th 
    {
        border: 3px solid $green;
        border-collapse: collapse;
        padding: 5px;
        
    }

    

    #result-ppm
    {
        min-width: 150px;
        min-height: 50px;
        border: 1px solid black;
      
    }

    .number 
    {
        &:hover 
        {
            cursor: pointer;
        }
    }
 


}

input 
{
    margin-top: 50px;
    outline: none;
    height: 30px;
    font-size: 1.5rem;
}

}

#procentowy-udzial-skladnikow
{ text-align: left;

    ul 
    {
        width: 100%;
        margin: 1%;
        padding: 1px;
        li 
        {
            width: 100%;
            padding-bottom: 15px;
            margin: 0 auto;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            
            
            span 
            {
                padding-right: 70%;
            }
          
        }
    }
 
}