body,html 
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    padding: 5%;
}

table
{
    width: 100%;
    margin: 0 auto;
}

.wrapper
{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
}


.margin
{
    margin-right: 15px;
    margin-left: 10px;
   
   
    cursor: pointer;
    font-size: 1.5rem;
 
}

.chooseMe 
{
    cursor: pointer;
}

.no-events
{
    pointer-events: none;
}

